html,
body, *{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* hero-banner */
.hero-banner-container {
  /* border: solid 1px black; */
  background-color: rgb(224, 224, 224);
  padding: 100px 30px 30px 30px;
  margin: 10px 40px;
  border-radius: 20px;
}

.beats-solo {
  color: gray
}

.hero-banner-container h1 {
  font-size: 55px;
  color: white;
}

h2 {
  font-size: 30px;
  color: rgb(49, 89, 122);
  margin: 2px 0px;
}

h3 {
  font-size: 32px;
  letter-spacing: 1px;
}
h5 {
  margin: 5px 0px;
  font-size: 15px;
}
p {
  color: gray;

}

.button {
  padding: 10px 20px;
  margin: 20px 0px;
  border-radius: 10px;
  border: none;
  background-color: #d51515;
  color: white
}

.products-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 10px;
}

.hero-banner-image {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 0;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* product card */
.products-container {
  /* width: ; */
  padding: 0px 20px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* justify-content: center; */
}

.product-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-image {
  padding: 25px; 
  border-radius: 40px;
  cursor: pointer;
}

.product-image:hover {
  padding: 10px;
  transition: 0.5s;
  border-radius: 40px;
}

.product-name {
  font-size: 14px;
  margin: 3px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: black;
}

/* footerBanner */
.footer-banner-container {
  padding: 100px 40px;
  background-color: #d51515;
  border-radius: 15px;
  position: relative;
  height: 400px;
  line-height: 1; 
  color: white;
  /* margin-top: 120px; */
  margin: 60px 30px 0px 30px
}

.footer-banner-container p {
  color: white;
  margin: 10px 0px;
}

.footer-banner-container h3 {
  color: white; 
  font-weight: bold;
  font-size: 40px;
}


.banner-desc {
  display: flex;
  justify-content: space-between;
}

.banner-desc .left {
  padding-left: 30px;
  /* border: solid 1px */
}
.banner-desc .right {
  line-height: 1.4;
  padding-left: 30px;
  /* border: solid 1px */
}

.banner-desc button {
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 40px;
  color: #d51515;
}

.footer-banner-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 400px;

}

/* navbar */
.navbar-container .logo {
  display: inline-block;
  padding: 20px;
}

.navbar-container .cart-icon {
  float: right;
  margin: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.cart-item-qty {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background-color: #d51515;
  color: white;
}

/* footer */
.footer-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-container .icons {
  padding: 10px;
  display: block;
}

.footer-container .icons svg {
  margin: 0px 5px;
}

/* 商品頁 */
.product-details-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.product-details-container .image-container {
  display: inline-block;
  margin: 0 auto;
  padding: 0px 50px;
}
.product-details-container .image-container > img {
  width: 300px;
}

.small-image-container {
  padding-top: 20px;
}

.small-image-container img {
  width: 90px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
}

/* img select */
.small-image-selected {
  border: solid 2px #d51515;
}

.product-details-container .product-desc {
  display: inline-block;
  vertical-align: top;
  padding: 0px 50px 0px 50px;
  display: inline-block;
  margin: 0 auto;
}

.product-desc h1 {
  letter-spacing: 1px;
  color: rgb(49, 89, 122);
}

.product-desc .reviews {
  padding-top: 10px;
}

.reviews-star, .reviews p {
  display: inline;
}

.product-desc h4 {
  color: rgb(49, 89, 122);
  font-size: 20px;
  padding: 10px 0px 10px 0px;
}

.product-desc .price {
  color: #d51515;
  font-weight: bold;
  font-size: 27px;
  padding: 20px 0px 20px 0px;
}

.quantity {
  padding: 20px 0px 20px 0px;
  display: flex;
  align-items: center;
}
.quantity h3, .quantity-desc{
  display: inline-block;
  
}

.quantity h3 {
  font-size: 20px;
  color: rgb(49, 89, 122);
  margin-right: 10px;
}

.quantity-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #999;
}

.quantity-desc .minus {
  border-right: solid 1px #999;
  padding: 4px 6px;
  cursor: pointer;
  
}
.quantity-desc .plus {
  border-left: solid 1px #999;
  padding: 4px 6px;
  cursor: pointer;
}

.quantity-desc .num{
  font-size: 18px;
  line-height: 26px;
  padding: 0px 10px;
  /* border: solid 1px #999; */
}

.add-to-cart {
  border: solid 2px #d51515;
  background: none;
  padding: 10px 30px;
  color: #d51515;
  margin-right: 20px;
  cursor: pointer;
}

.buy-now {
  border: solid 2px #d51515;
  background: #d51515;
  padding: 10px 30px;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.may-like {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

/* 購物車 */
.cart-wrapper {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.327);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.cart-container {
  background-color: white;
  display: inline-block;
  padding: 30px;
  width: 400px;
  z-index: 200;
}

.cart-heading {
  background-color: white;
  border: none;
  line-height: 20px;
  display: flex;
  cursor: pointer;
  /* justify-content: center; */
}

.cart-heading .heading {
  font-size: 14px;
}

.cart-heading .cart-num-items {
  font-size: 14px;
  color: #d51515;
  padding-left: 10px;
}
.cart-product-image {
  max-width: 150px;
  border: 20px;
}

/* 空購物車操作 */
.empty-cart {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cart h3 {
  font-size: 20px;
}

.empty-cart .btn {
  background-color: #d51515;
  border: none;
  color:white;
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
}

/* 購物車有東西狀態 */
.cart-container .product-container {
  margin-top: 20px;
}

.cart-container .product {
  display: flex;
  flex-direction: row;
  margin-bottom: 17px;
  
}

.item-desc {
  width: 100%;
}

.cart-container .flex {
  display: flex;
  align-items: center;
  /* padding: 0px 10px; */
  /* justify-content: space-around */
}

.cart-container h5 {
  font-size: 18px;
  /* text-align: left; */
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}
.cart-container h4 {
  font-size: 18px;
  /* text-align: right; */
  width: 40%;
  display: flex;
  justify-content: flex-end;
}
.cart-container .bottom {
  width: 100%;
}

.cart-container .quantity-desc{
  display: flex;
  justify-content: center;
  margin: 40px 0px 0px 20px;
  /* width: 100%; */
  margin-right: 50px;
}

.cart-container .delete-item {
  background-color: #fff;
  border: none;
  margin-top: 40px;
  cursor: pointer;
}

.cart-bottom {
  position: fixed;
  bottom: 20px;
}

.cart-bottom .total h3 {
  font-size: 20px;
  display: inline-block;
}

.cart-bottom .total h3:first-child {
  margin-right: 200px;
}

.cart-bottom .btn-container {
  display: flex;
  justify-content: center;
  
}

.cart-bottom .btn-container .btn {
  background-color: #d51515;
  cursor: pointer;
  border: none;
  color: white;
  padding: 14px 50px;
  border-radius: 20px;
  margin-top: 20px;
  transition: 0.5s;
}

.cart-bottom .btn-container .btn:hover {
  background-color: black;
  
}

/* success-page */
.success-wrapper {
  background-color: rgb(236, 236, 236);
  /* background-color: rgb(7, 118, 7) */
  margin: 20px;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.success-wrapper .description {
  margin-top: 20px;
}

.success-wrapper .btn {
  margin-top: 30px;
  background-color: #d51515;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* success-page */
.cancel-wrapper {
  background-color: rgb(236, 236, 236);
  /* background-color: rgb(7, 118, 7) */
  margin: 20px;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cancel-wrapper .description {
  margin-top: 20px;
}

.cancel-wrapper .btn {
  margin-top: 30px;
  background-color: #d51515;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}



